@charset "utf-8";
@import "colors/buoy.scss";
@import "fonts";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poiret+One");
// START OVERRIDES

// FONTS
$body-family: $lato;
$body-weight: 300;

// .title,
// .subtitle  {
//   font-family: $poiret-one;
// }

// COLORS
// $dark: $black;
// $light: $lighter-blue;
// $primary: $blue;
// $info: $light-blue;
// $success: $orange;

// END OVERRIDES
@import "~bulma/bulma";

.has-background-transparent {
    background-color: transparent !important;
}

.container.is-fluid > .tile,
.container.is-fluid > .columns {
    max-width: 1024px;
    margin: 0 auto;
}