$amaranth: #F12F61;
$windsor: #5F0E77;
$seance: #881691;
$dark-blue: #2E00BF;
$arapawa: #0B1260;

$dark-slate-gray: #132937;

$black: #0e0033;

$aspirin-blue: #225378;
$aspirin-green: #1695A3;
$aspirin-light-green: #ACF0F2;
$aspirin-light: #F3FFE2;
$aspirin-orange: #EB7F00;

$blue: #304269;
$light-blue: #91BED4;
$lighter-blue: #D9E8F5;
$white: #FFFFFF;
$orange: #F26101;