.image {
  margin-top: -84px;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.overflowTop {
  margin-top: -12rem;
  padding-top: 12rem;
}